---
import TestimonialCard from '../ui/TestimonialCard.astro';

import testimonial1Img from '@assets/photo-1494790108377-be9c29b29330.jpg';
import testimonial2Img from '@assets/photo-1507003211169-0a1dd7228f2d.jpg';
import testimonial3Img from '@assets/photo-1438761681033-6461ffad8d80.jpg';

const testimonials= [
  {
    quote: "-- Get testimonial to put here --",
    name: "--Lady Ken coached to 4th Dan black belt --",
    role: "4th Dan, Taekwondo",
    image: testimonial1Img,
    ringColor: "ring-light-tan-dark"
  },
  {
    quote: "-- Get testimonial from Graham --",
    name: "Graham",
    role: "2nd Dan, Taekwondo",
    image: testimonial2Img,
    ringColor: "ring-tan"
  },
  {
    quote: "-- A non-taekwondo testimonial? --",
    name: "-- Find person --",
    role: "-- Find Person --",
    image: testimonial3Img,
    ringColor: "ring-light-tan-dark"
  }
];
---

<section class="py-24 bg-white">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <div class="inline-block px-4 py-2 mb-4 text-sm font-semibold rounded-full bg-light-tan-dark text-brown">
        Client Success Stories
      </div>
      <h2 class="text-4xl md:text-5xl font-bold mb-6 text-brown">
        Results Backed by <span class="gradient-text">Experience</span>
      </h2>
      <p class="text-xl max-w-3xl mx-auto leading-relaxed text-brown-light">
        See how we've helped every day people become their strongest, and change what they thought was possible.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {testimonials.map((testimonial) => (
        <TestimonialCard testimonial={testimonial} variant="home" />
      ))}
    </div>
  </div>
</section>
